@charset "UTF-8";
@import url("../fonts/mulleravax/muller_medium.ttf");
@font-face {
    font-family: mullerM;
    src: url("/web/templates/Site/assets/fonts/mulleravax/muller_medium.ttf");
}
@font-face {
    font-family: mullerEM;
    src: url("/web/templates/Site/assets/fonts/mulleravax/muller_extra_bold.ttf");
}

.widget-controls
{
    display:block;
    margin-top:20px;
    text-align:center
}
@media(max-width:767px){
    .widget-controls{margin-top:10px}
    .subscribe-widget{display: none}
}.widget-pager{display:inline-block}.widget-pager .pager-btn{border:0;background-color:transparent;width:auto;padding:0;color:#d6d6d6}.widget-pager .pager-btn.active,.widget-pager .pager-btn:hover{color:#000}.widget-pager .pager-btn .icon{font-size:1.5em}.widget-pager .pager-btn .icon.icon-dot:before{margin-left:0;margin-right:0}.pagination{text-align:center;margin:0 auto 40px;padding:0}.pagination li{display:none}.pagination li.PagedList-skipToNext{display:block}.pagination li.PagedList-skipToNext a{font-family:'Neuzeit Grotesk Regular',sans-serif;font-size:1em;line-height:1.2em;font-weight:normal;display:inline-block;margin:0 auto;text-align:center;padding:10px 12px;border:1px solid #d6d6d6;color:#000;background-color:transparent;text-decoration:none;-webkit-transition:border-color .2s ease-in-out,color .2s ease-in-out;-moz-transition:border-color .2s ease-in-out,color .2s ease-in-out;-ms-transition:border-color .2s ease-in-out,color .2s ease-in-out;-o-transition:border-color .2s ease-in-out,color .2s ease-in-out;transition:border-color .2s ease-in-out,color .2s ease-in-out}.pagination li.PagedList-skipToNext a:hover{border-color:#fff;color:#d6d6d6}@media(min-width:1134px){.sidebar-widget{width:300px}}.sidebar-widget .sidebar-types{text-align:justify}
.sidebar-widget .sidebar-types .title
{
    width:100%;
    text-align:center;
    margin:0;
    font-family:"mullerEM";
    font-weight:normal;
    font-style:normal;
    font-size:1em
}
.sidebar-widget .items-collection{position:relative;max-height:inherit}.sidebar-widget .items-collection .items{background-color:#fff;width:100%}.sidebar-widget .items-collection .items .item{display:block;margin:20px 0}.sidebar-widget .items-collection .items .item .item-link{text-decoration:none;color:#000;display:block}.sidebar-widget .items-collection .items .item .item-link:hover .text{text-decoration:underline}.sidebar-widget .items-collection .items .item .item-link .img-container{display:block;width:90px;height:60px;float:left;overflow:hidden;position:relative}.sidebar-widget .items-collection .items .item .item-link .img-container .img{display:block;position:relative;width:100%}.sidebar-widget .items-collection .items .item .item-link.video .img-container:after{content:"";width:25px;height:25px;display:block;background-image:url(/Content/images/video-icon.png);position:absolute;top:6px;left:6px}.sidebar-widget .items-collection .items .item .item-link .text{display:block;margin-left:20px;float:left;width:190px;font-family:'SuisseWorks-Regular',"Helvetica","Arial",sans-serif;font-weight:normal;font-size:.75em}.subscribe-widget{width:300px;position:absolute;right:0;top:425px;text-align:center}@media(min-width:768px)and (max-width:1024px){.subscribe-widget{top:450px}}@media(max-width:767px){.subscribe-widget{position:relative;margin-left:auto;margin-right:auto;width:95%;top:0;margin-bottom:30px}}
.subscribe-widget .title
{
    font-family:'mullerEM';
    font-weight:normal;
    font-size:1.5em;
    letter-spacing:.1em;margin:0
}


.subscribe-widget .description{font-family:'Neuzeit Grotesk Regular',sans-serif;font-weight:normal;font-size:1em;margin:0 0 20px}.subscribe-widget .subscribe-form{position:relative;width:100%}.subscribe-widget .subscribe-form .email-input{border:0;border-bottom:1px solid #d6d6d6;width:100%;position:relative;padding-right:30px;text-align:center;padding-bottom:4px;-webkit-transition:all .15s ease-in-out;-moz-transition:all .15s ease-in-out;-ms-transition:all .15s ease-in-out;-o-transition:all .15s ease-in-out;transition:all .15s ease-in-out}.subscribe-widget .subscribe-form .email-input:focus{outline:0;border-color:#000}.subscribe-widget .subscribe-form .email-input:focus+.subscribe-btn{border-color:#000;color:#000}.subscribe-widget .subscribe-form .subscribe-btn{border:0;background-color:#fff;border-bottom:1px solid #d6d6d6;color:#d6d6d6;text-align:center;padding:0;width:30px;height:30px;position:absolute;right:0;bottom:0;-webkit-transition:all .15s ease-in-out;-moz-transition:all .15s ease-in-out;-ms-transition:all .15s ease-in-out;-o-transition:all .15s ease-in-out;transition:all .15s ease-in-out}.subscribe-widget .social-links{margin-top:20px;text-align:center}.subscribe-widget .social-links .social-link{-webkit-transition:all .15s ease-in-out;-moz-transition:all .15s ease-in-out;-ms-transition:all .15s ease-in-out;-o-transition:all .15s ease-in-out;transition:all .15s ease-in-out}.subscribe-widget .social-links .social-link:hover{color:#d6d6d6}.most-viewed{display:block;width:300px;margin:80px 0 0 0}.most-viewed:empty{display:none}
.most-viewed .title{
    font-family:"mullerEM";font-weight:normal;font-style:normal;font-size:1em;text-align:center;margin:0 auto 25px auto}
.most-viewed .items .item .item-link{text-decoration:none}
.most-viewed .items .item .item-link:hover{border-color:#000}
.most-viewed .items .item .img-container{position:relative;width:300px;height:auto;overflow:hidden}
.most-viewed .items .item .most-viewed-headings{width:100%;background-color:#fff;color:#000;margin:0;padding:3px 0;text-align:center}
.most-viewed .items .item .most-viewed-headings .title{margin:0;letter-spacing:.03em;font-family:'mullerEM',sans-serif;font-weight:normal;text-decoration:none;font-size:1em;border:none;width:100%}
.most-viewed .items .item .most-viewed-headings .category{font-family:'Neuzeit Grotesk Regular',sans-serif;font-weight:normal;font-size:.85em;margin:0;width:100%}.widget-controls{margin-top:0}#main-article{margin-top:40px}@media(min-width:768px)and (max-width:1024px){#main-article{width:100%}}@media(max-width:767px){#main-article{width:100%}}#main-article .headings{position:relative;max-width:1020px;margin:0 auto;text-align:center}#main-article .headings .column-headings{color:#fff;background-color:#000;padding:3px 4px;display:inline-block;margin:0 auto .85em;font-size:1em;font-family:'mullerEM',sans-serif}#main-article .headings .column-headings .column-title{color:#fff;text-decoration:none;font-weight:normal}#main-article .headings .title{text-align:center;max-width:750px;margin:0 auto;font-size:2.4em;letter-spacing:.025em;font-family:'mullerEM',sans-serif;font-weight:normal;line-height:1em}#main-article .headings .date{text-align:center;font-size:1.15em;margin-top:10px;margin-bottom:20px;font-weight:normal;font-family:'RomainText-Regular',serif;display:block}#main-article .headings .standfirst{font-size:1em;max-width:600px;font-weight:normal;margin:0 auto 20px;text-align:center;letter-spacing:.05em;font-family:'mullerEM',sans-serif}#main-article .headings .social{width:214px;margin:0 auto;text-align:center}#main-article .headings .social .social-btn{width:50%;display:block;float:left}#main-article .article-hero{position:relative;max-width:1500px;margin:24px auto}@media(min-width:768px)and (max-width:1024px),(max-width:767px){#main-article .article-hero{margin-top:30px}}@media(max-width:767px){#main-article .article-hero .main-img{min-width:100%;width:auto!important;max-width:125%;margin-left:-2%!important;margin-right:-2%!important}#main-article .article-hero .main-img figcaption.img-caption{padding-left:2%;padding-right:2%}}#main-article .article-hero.portrait .main-img{margin:24px auto}@media(max-width:767px){#main-article .article-hero.portrait .main-img{width:100%;height:100%}}#main-article .article-hero.portrait .main-img img{max-height:800px;display:block;margin-left:auto;margin-right:auto}@media(max-width:767px){#main-article .article-hero.portrait .main-img img{max-height:100%;width:100%}}#main-article .article-hero.landscape .main-img img{height:auto;max-width:100%}#main-article .article-hero.landscape .main-img{display:block;margin:24px auto;position:relative}#main-article .article-hero.landscape .main-img img{display:block;margin:0 auto}@media(max-width:767px){#main-article .article-hero.landscape .main-img img{width:100%;height:100%}}#main-article .article-hero.landscape .main-img:hover .pin-hover{opacity:1}#main-article .article-hero.landscape .embed-content.video-container object,#main-article .article-hero.landscape .embed-content.video-container video,#main-article .article-hero.landscape .embed-content.video-container iframe{max-width:100%}#main-article .article-hero .pin-hover{position:absolute;z-index:5;margin-left:5px;margin-top:5px;opacity:0;transition:opacity .4s linear;-webkit-transition:opacity .4s linear;-moz-transition:opacity .4s linear}@media(max-width:767px){#main-article .article-hero .pin-hover{display:none}}#main-article .article-hero .pin-hover:hover{opacity:1}#main-article .article-hero .img-caption{font-family:'Neuzeit Grotesk Regular',sans-serif;text-align:center;margin:6px;color:#8e8e8e}#main-article .article-hero .img-caption .credit{font-style:italic}#main-article .article-container{position:relative;margin:26px auto 0 auto}@media(min-width:1025px),(min-width:768px)and (max-width:1024px){#main-article .article-container{min-height:0}}@media(min-width:768px)and (max-width:1024px),(max-width:767px){#main-article .article-container{padding-right:0}}
.sidebar-social-wrapper .sidebar-social{position:absolute;left:0;top:0;width:60px;}
.sidebar-social-wrapper .sidebar-social.fixed{position:fixed;left:auto;top:80px;margin:0}
.sidebar-social-wrapper .sidebar-social .social-btns{margin-left:-40px}
.sidebar-social-wrapper .sidebar-social .social-btns .social-btn{margin-bottom:1.05em;margin-left:0!important;display:inline-block}
.article-body{
    position:relative;
    width:600px;
    padding-left:20px;
    margin:0 40px 40px;
    float:left;
    line-height: 1.4;
    font-size:1em;
    font-family:'mullerM',serif
}
@media(min-width:768px)and (max-width:1024px)
{.article-body{width:calc(100% - 320px);padding:0;margin-left:0;margin-right:0}}
@media(max-width:767px){.article-body{margin:0 auto;max-width:96%;padding:0;float:none}
                        #main-article.article .article-body .video-container,#main-article.article .article-body .inline-img{min-width:100%;width:auto!important;max-width:125%;margin-left:-4%!important;margin-right:-4%!important}#main-article.article .article-body .video-container figcaption.img-caption,#main-article.article .article-body .inline-img figcaption.img-caption{padding-left:4%;padding-right:4%}#main-article.article .article-body .embed-content[data-embed-type="media-vine"]{margin-left:-4%!important;margin-right:-4%!important}}.article-body .gallery-launcher:first-child{padding-top:0}.article-body .main-img{display:block;margin:24px auto;position:relative}@media(min-width:768px)and (max-width:1134px){.article-body .main-img{width:100%}}@media(max-width:767px){#main-article.article .article-body .main-img .video-container,#main-article.article .article-body .main-img .inline-img{min-width:100%;width:auto!important;max-width:125%;margin-left:-4%!important;margin-right:-4%!important}#main-article.article .article-body .main-img .video-container figcaption.img-caption,#main-article.article .article-body .main-img .inline-img figcaption.img-caption{padding-left:4%;padding-right:4%}#main-article.article .article-body .main-img .embed-content[data-embed-type="media-vine"]{margin-left:-4%!important;margin-right:-4%!important}}.article-body .main-img .img-caption{text-align:left}.article-body .main-img .img-caption .credit{font-style:italic}.article-body .main-img img{max-width:620px;height:auto;width:100%}.article-body .main-img:hover .pin-hover{opacity:1}.article-body .pin-hover{position:absolute;z-index:5;margin-left:5px;margin-top:5px;opacity:0;transition:opacity .4s linear;-webkit-transition:opacity .4s linear;-moz-transition:opacity .4s linear}@media(max-width:767px){.article-body .pin-hover{display:none}}.article-body .pin-hover:hover{opacity:1}@media(max-width:767px){.article-body .caption{width:100%}}.article-body p{padding:0 30px;margin:0 0 1.05em}@media(max-width:767px){.article-body p{padding-left:0;padding-right:0}}.article-body b,.article-body strong{font-family: 'mullerM';}.article-body .inline-img{position:relative;padding-bottom:24px;margin:0}.article-body .inline-img .img{max-width:100%;height:auto;width:620px!important}.article-body .img-caption{font-family:'Neuzeit Grotesk Regular',sans-serif;font-size:1em;color:#8e8e8e;margin:0 0 1.05em}.article-body .img-caption .credit{font-style:italic}.article-body blockquote{font-family:'RomainText-Bold',serif;font-style:italic;font-size:1.2em;line-height:1.6em;width:90%;margin:1.05em}.article-body blockquote:before,.article-body blockquote:after{width:120px;height:6px;display:block;background-color:#000;content:"";position:relative;left:-1em}.article-body blockquote p{margin:1em 0}.article-body .gallery-launcher{width:100%;max-width:600px;padding:24px 0}.article-body .gallery-launcher .gallery-items{display:block;list-style:none outside none;margin:0;padding:0;position:relative;width:100%}@media(max-width:767px){.article-body .gallery-launcher .gallery-items{width:100%}}.article-body .gallery-launcher .gallery-items .gallery-item{display:block;float:left;width:30.33%;margin-bottom:20px;position:relative}@media(max-width:767px){.article-body .gallery-launcher .gallery-items .gallery-item{width:28%}}.article-body .gallery-launcher .gallery-items .gallery-item+.gallery-item{margin-left:15px}.article-body .gallery-launcher .gallery-items .gallery-item:nth-child(3n+4){clear:both;margin-left:0}.article-body .gallery-launcher .gallery-items .gallery-item:hover{opacity:.5}.article-body .gallery-launcher .gallery-items .gallery-item .gallery-thumb-link{display:block}.article-body .gallery-launcher .gallery-items .gallery-item img{width:100%;height:auto;display:block}.article-body .gallery-launcher .label{width:312px;background-color:#000;color:#fff;padding:10px;text-align:left;border:0;outline:0;text-decoration:none;display:block}@media(max-width:767px){.article-body .gallery-launcher .label{width:63.15%}}
.article-body .gallery-launcher .label .title
{font-size:1.1em;line-height:1.15em;margin:0;word-spacing:normal;font-family:'mullerEM',sans-serif;font-weight:normal}
.article-body .gallery-launcher .label .count
{font-size:.75em;margin:0;font-family:'mullerEM',sans-serif;font-weight:normal}
.credits{margin:35px 0;text-align:center;font-family:'mullerEM',sans-serif;font-size:16px;display:block;padding:0}
.credits .credit{display:inline}
.credits .credit+.credit{margin-left:12px}
@media(max-width:767px){.credits .credit{display:block;margin-left:0;margin-top:5px}}
.credits .credit .credit-name{font-family:'mullerM'}
.embed-content{padding-bottom:24px}.embed-content[data-embed-type="media-vine"]{overflow-x:hidden}
.embed-content.video-container{position:relative;padding-bottom:56.25%;overflow:hidden;max-width:100%;height:auto;margin-bottom:24px}.embed-content.video-container iframe,.embed-content.video-container object,.embed-content.video-container video{position:absolute;top:0;left:0;height:100%;width:100%}.embed-content.instagram-container{position:relative;max-width:100%;margin-bottom:20px}.embed-content.instagram-container blockquote:before,.embed-content.instagram-container blockquote:after{display:none}.embed-content .subscribe-widget{width:100%;max-width:600px;top:85px}@media(min-width:768px)and (max-width:1024px){.embed-content .subscribe-widget{width:50%;right:350px}}@media(max-width:767px){.embed-content .subscribe-widget{width:92%;top:0}}.embed-content[data-embed-type="media-vine"] iframe.content-vine,.embed-content[data-embed-type="media-spotifytrack"]>iframe,.embed-content[data-embed-type="media-twitter"] iframe.twitter-tweet-rendered,.embed-content[data-embed-type="media-instagram"] iframe.instagram-media-rendered{display:block;margin-left:auto;margin-right:auto;border:0}.embed-content[data-embed-type="media-vine"] iframe.content-vine{}@media(max-width:767px),(min-width:768px)and (max-width:1024px){.embed-content[data-embed-type="media-vine"] iframe.content-vine{width:300px!important;height:300px!important}}@media(min-width:1025px){.embed-content[data-embed-type="media-vine"] iframe.content-vine{width:480px!important;height:480px!important}}.article-footer{margin:25px auto 0}.article-footer .tags-list{margin:0 0 40px}.article-footer .tags-list strong{display:block;margin-bottom:5px}.article-footer .tags-list .tag-btn{display:inline-block;font-family: 'mullerM';font-weight:normal;text-decoration:none;padding:5px 6px;border:1px solid #d6d6d6;color:#000;font-size:1em;line-height:1.2em;margin-bottom:8px;margin-right:5px;-webkit-transition:color .15s ease-in-out,border-color .15s ease-in-out;-moz-transition:color .15s ease-in-out,border-color .15s ease-in-out;-ms-transition:color .15s ease-in-out,border-color .15s ease-in-out;-o-transition:color .15s ease-in-out,border-color .15s ease-in-out;transition:color .15s ease-in-out,border-color .15s ease-in-out}.article-footer .tags-list .tag-btn:last-of-type{margin-right:0}.article-footer .tags-list .tag-btn:hover{border-color:#fff;color:#d6d6d6}@media(min-width:768px)and (max-width:1024px){.article-footer{width:96%}}@media(max-width:767px){.article-footer{width:94%}}
.more-articles{display:block;margin:0;padding:0;width:100%}
.more-articles .article a{display:block;text-decoration:none;position:relative}
.more-articles .article a:hover .img{}
.more-articles .article a:hover .summary,.more-articles .article a:hover .title{color:#8e8e8e}
.more-articles .article .img{
    width:100%;
    height:auto;
    display:block;
    -webkit-transition:opacity .15s ease-in-out;
    -moz-transition:opacity .15s ease-in-out;
    -ms-transition:opacity .15s ease-in-out;
    -o-transition:opacity .15s ease-in-out;
    transition:opacity .15s ease-in-out;
    -webkit-backface-visibility:hidden;
    -webkit-transform:translateZ(0) scale(1,1)}
.more-articles .article .title{margin:.25em 0 0;padding:0;font-size:.85em;letter-spacing:normal;
                               word-break:break-word;font-family:'mullerEM',sans-serif;font-weight:normal;max-width:85%}
@media(max-width:767px){.more-articles .article .title{max-width:100%}}
.more-articles .article .summary{margin:0}
.more-articles-container{
    border-top:1px solid #d6d6d6;padding-top:40px;margin-bottom:20px
}@media(max-width:1020px){.more-articles-container{margin-top:20px}}.more-articles-container .cat-title{text-decoration:none;font-size:1.4em;margin:0 0 .5em;font-family:'mullerEM',sans-serif;font-weight:normal}.more-articles-container .cat-title a{text-decoration:none}.more-articles-container .cat-title a:hover{text-decoration:underline}.more-articles-container .cat-title a:hover .img{opacity:.4}.more-articles-container .summary{width:85%;font-size:.85em;margin:0;max-width:95%}.more-articles.columns-grid .title{font-size:1.05em}.sidebar-item.advert{border-top:0;margin-top:80px}.advert-mpu{width:300px}.advert-halfpage{width:300px}.article-sidebar{float:right;width:300px;margin:0 0 1em 0}@media(max-width:767px){.article-sidebar{float:none;margin:0 auto}}.modal{overflow:hidden}@media(max-width:767px){.modal{overflow:visible}}.modal #main{position:relative;width:100%}@media(max-width:767px){.modal #main,.modal #header,.modal #footer{display:none}}#gallery{position:fixed;height:100%;width:100%;padding-right:348px;top:0;left:0;background-color:#fff;z-index:99999}@media(max-width:767px){#gallery{width:100%;min-width:300px;height:100%;padding-bottom:24px;position:absolute;margin:0 auto 0;padding-right:0}}.gallery-slides{display:block;width:100%;position:relative;height:100%;margin:0;padding:0 40px}@media(max-width:767px){.gallery-slides{max-width:100%;min-width:100%;float:none;width:100%;margin:0 auto}}@media(max-width:767px)and (orientation:portrait){.gallery-slides{height:100vw}}@media(max-width:767px)and (orientation:landscape){.gallery-slides{height:57vw}}.gallery-slides .gallery-btn{display:none}@media(max-width:767px){.gallery-slides .gallery-btn{display:block;position:absolute;top:50%;margin-top:-13px}.gallery-slides .gallery-btn.prev{left:5px}.gallery-slides .gallery-btn.next{right:5px}}#gallery-imgs{display:block;width:100%;height:100%;margin:0}#gallery-imgs .img{max-width:100%;max-height:100%;display:block;margin:0 auto}#gallery-imgs .slide-wrapper>.img{-o-object-fit:contain;object-fit:contain;position:relative;top:50%;-moz-transform:translateY(-50%);-o-transform:translateY(-50%);-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%)}@media(max-width:767px){html.no-object-fit #gallery-imgs .slide-wrapper>.img[data-aspect-ratio-type="portrait"]{width:auto!important;height:100%}}@media(min-width:1025px){html.no-object-fit #gallery-imgs .slide-wrapper>.img[data-aspect-ratio-type="portrait"],html.no-object-fit #gallery-imgs .slide-wrapper>.img[data-aspect-ratio-type="square"],html.no-object-fit #gallery-imgs .slide-wrapper>.img[data-aspect-ratio-type="squarish"]{width:auto!important;height:100%}}.slide{position:absolute;width:100%;height:100%;top:0;left:0;background-color:#fff;overflow:hidden}.slide[data-slide-layout="image"]{background-image:url("/cassette.axd/file/Content/images/ajax-loader-2eb3f9f430fb2a6267e0d252129ef6473d074f37.gif");background-position:center;background-repeat:no-repeat}@media(max-width:767px){.slide{position:absolute}}.slide .slide-wrapper{position:relative;width:100%;height:100%}.gallery-btn{background-image:url(/cassette.axd/file/Content/images/gallery-btns-ad049b4892d7e53fb6a8cf4cf557106cc9949839.svg);background-size:50px 25px;width:25px;height:25px;display:inline-block;margin:0;padding:0;z-index:101}.gallery-btn.next{background-position:top right}.gallery-header{position:relative;padding-top:40px}@media(max-width:767px){.gallery-header{padding-top:0}}.gallery-header .gallery-controls-container{position:absolute;top:10px;left:0}.gallery-header .gallery-controls-container .gallery-count{font-family:'Neuzeit Grotesk Regular',sans-serif;font-size:.9em;display:inline-block;position:relative;top:-7px;margin-left:10px;letter-spacing:.1em}.gallery-header .gallery-controls-container .gallery-controls{display:inline-block}
.gallery-side{position:absolute;display:block;width:340px;height:100%;top:0;right:0; overflow-y: scroll}
@media(max-width:767px){.gallery-side{display:block;position:relative;right:auto;height:auto;margin:0 auto;width:100%;min-width:300px;padding-left:20px;padding-right:20px;padding-bottom:20px}}#gallery-close{background-image:url(/cassette.axd/file/Content/images/gallery-close-da01a037060c1498951a931d7ddb5c9ed60984e4.png);background-repeat:no-repeat;position:absolute;top:1em;right:0;width:23px;height:23px;z-index:100}#gallery-close-mobile{text-align:center;display:inline-block;border:1px solid #666;padding:6px 0;font-family:'Neuzeit Grotesk Regular';font-weight:normal;text-decoration:none;width:50%;margin:20px auto}
.gallery-meta{position:relative; margin-top: 40px}@media(max-width:767px){.gallery-meta{width:100%;text-align:center}}
.gallery-meta .tags{margin:24px 0 0}.gallery-meta .title{font-family:'mullerEM',sans-serif;font-weight:normal;font-size:1.4em;line-height:1em;text-transform:uppercase;margin:22px 0 12px;padding:0;width:260px}@media(max-width:767px){.gallery-meta .title{width:100%}}.gallery-meta .summary{font-family:'Helvetica Neue',Arial,sans-serif;font-weight:normal;font-size:.85em;line-height:1.132em;margin:0;padding:0}.gallery-meta .current-credit{margin:0 0 1em;position:relative;top:0;left:0;font-family:'RomainText-Regular',serif;font-weight:normal;font-size:.85em;line-height:1.25em;color:#666}.gallery-meta .caption{font-family:'RomainText-Regular',serif;font-weight:normal;font-size:.85em;line-height:1.25em}.gallery-meta .timestamp{font-size:.85em;margin:0 0 1em;font-weight:bold;text-transform:uppercase}.gallery-meta .social{float:none;margin:20px 0;height:20px}@media(max-width:767px){.gallery-meta .social{height:auto;margin:20px auto;width:300px}}.gallery-meta .social .fblike-btn{display:block;position:relative;float:left;top:0;width:107px}.gallery-meta .social .fblike-btn .fb-like span{vertical-align:top!important}.gallery-meta .social .fblike-btn .fb-like span iframe{z-index:500}.gallery-meta .social .twttr-btn{display:block;float:left;width:107px}.gallery-meta .social .pin-btn{width:60px;float:left}.gallery-meta .social .pin-btn img{vertical-align:top}.gallery-meta.gallery-thumb-container{height:177px}@media(max-width:767px){.gallery-meta.gallery-thumb-container{height:auto;margin-bottom:20px}}.gallery-meta .gallery-pager{list-style:none outside none;display:block;margin:0;padding:0;width:307px;position:relative;left:-3px}@media(max-width:767px){.gallery-meta .gallery-pager{width:100%}}.gallery-meta .thumbs-page{display:block;margin:0;padding:0}@media(max-width:767px){.gallery-meta .thumbs-page{width:100%}}.gallery-meta .gallery-thumbs{display:block;list-style:none outside none;margin:0;padding:0;position:relative;width:321px}@media(max-width:767px){.gallery-meta .gallery-thumbs{width:100%}}
.gallery-meta .gallery-thumbs .gallery-thumb{display:block;float:left;width:95px;;margin:0 0 12px;padding:0;border:0}@media(max-width:767px){.gallery-meta .gallery-thumbs .gallery-thumb{width:32%;height:auto;margin:0 0 2%;overflow:visible}}.gallery-meta .gallery-thumbs .gallery-thumb+.gallery-thumb{margin-left:12px}@media(max-width:767px){.gallery-meta .gallery-thumbs .gallery-thumb+.gallery-thumb{margin-left:2%}}.gallery-meta .gallery-thumbs .gallery-thumb:nth-child(3n+4){clear:both;margin-left:0}.gallery-meta .gallery-thumbs .gallery-thumb a{display:block}.gallery-meta .gallery-thumbs .gallery-thumb a.active img,.gallery-meta .gallery-thumbs .gallery-thumb a:hover img{}.gallery-meta .gallery-thumbs .gallery-thumb img{display:block;width:100%;height:auto;margin:0}@media(min-width:1025px){.gallery-meta .gallery-thumbs .gallery-thumb img{-webkit-transition:opacity .15s ease-in-out;-moz-transition:opacity .15s ease-in-out;-ms-transition:opacity .15s ease-in-out;-o-transition:opacity .15s ease-in-out;transition:opacity .15s ease-in-out}}.gallery-meta.advert{position:absolute;right:0;bottom:24px;width:300px;height:250px;border:none;overflow:hidden}@media(max-width:767px){.gallery-meta.advert{display:block;position:relative;bottom:auto;right:auto;margin:10px auto 0}}.gallery-meta.advert .advert-container{margin:0;padding:0;border:0;width:300px;height:250px;z-index:9999;overflow:hidden}
.gallery-count{font-weight:normal;font-size:.9em;line-height:1.1em;text-transform:uppercase;margin:0 0 0 30px}#current-slide,#total-slides{display:inline}.gallery-pager-nav{display:block;text-align:center;margin:0;padding:0}@media(max-width:767px){.gallery-pager-nav{margin-top:10px}}.gallery-pager-nav .gallery-pager-btn{display:inline;margin:0 4px;padding:0}.gallery-pager-nav .slider-button{background-image:url(/cassette.axd/file/Content/images/gallery-pager-1f86b7924b257eead40239aa974259ed11fab185.svg);background-size:100% 100%;background-color:transparent;width:14px;height:14px;border:0;outline:0;margin:0 4px}.gallery-pager-nav .slider-button.current,.gallery-pager-nav .slider-button:hover{opacity:.4}.interstitial{background-color:#fff;position:absolute;z-index:200;text-align:center;display:block;visibility:hidden;margin-top:24px}@media(max-width:767px){.interstitial{display:none}}.interstitial:after{content:"close";position:absolute;right:0;text-transform:uppercase;text-decoration:underline;font-weight:normal;font-size:1.4em;line-height:1em;cursor:pointer}.related-galleries{width:100%;max-width:700px;margin:0 auto;position:relative;top:50%;-moz-transform:translateY(-50%);-o-transform:translateY(-50%);-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%)}@media(max-width:767px){.related-galleries{width:100%;border:none}}.related-galleries .widget-heading .title{font-family:'mullerEM',sans-serif;font-weight:normal;font-size:1.5em;text-align:center}.gallery-container{margin:0}@media(max-width:767px){.gallery-container{margin:3px 0 0 0}}.gallery-wrap{width:48%;height:auto;float:left;margin-bottom:20px}.gallery-wrap+.gallery-wrap{margin-left:4%}.gallery-wrap:nth-child(2n+3){margin-left:0;clear:both}.gallery-wrap .related-thumb{display:block;text-decoration:none}.gallery-wrap .related-thumb:hover .img{opacity:.4}@media(max-width:767px){.gallery-wrap .related-thumb:hover .img{width:100%;height:auto}}.gallery-wrap .img{float:none;width:100%;height:auto;margin:0;display:block;-webkit-transition:opacity .15s ease-in-out;-moz-transition:opacity .15s ease-in-out;-ms-transition:opacity .15s ease-in-out;-o-transition:opacity .15s ease-in-out;transition:opacity .15s ease-in-out}.gallery-wrap .title{font-family:'Neuzeit Grotesk Regular',sans-serif;font-weight:normal;font-size:1em;text-align:center;margin:4px 0 0;padding:0}

/*@media(max-width: 767px){*/
.article-body img{
    max-width: 100%;
    height: auto;
margin-bottom: 10px;
}
/*}*/
#close-gallery, .social-btn {
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}
#close-gallery:hover, .social-btn:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}