<div id="gallery" class="resgallery clearfix">
    <div class="gallery-slides">
        <div id="gallery-imgs">
            <div class="slide" style="z-index:1;"
                 data-slide-layout="image"
                 data-caption="MoonStore" data-credit="MoonStore" data-count="01">
                <div class="slide-wrapper" data-dir="next">
                    <img alt="MoonStore" class="img" data-aspect-ratio="1.50"
                         data-aspect-ratio-type="landscape"
                         data-max-height="1335"
                         data-max-width="2000"
                         data-responsive-widths="320,375,480,620,786,1200,1600,2000"
                         src="###srcbg###" style="max-width: 100%; width:2000px"
                         id=""
                    />
                </div>
            </div>
        </div>

        <a href="#"
           id="gallery-btn-prev" class="gallery-btn prev not-fade" data-dir="prev" data-fade="1">
            <img title="Предыдущая"
                 src="/web/templates/Site/gallery/imgs/space/next.png"
                 style="
                 width: 50px; height: 50px;
                 -webkit-transform: rotate(180deg);
                 -moz-transform: rotate(180deg);
                 -ms-transform: rotate(180deg);
                 -o-transform: rotate(180deg);
                 transform: rotate(180deg);">
        </a>
        <a href="#"
           id="gallery-btn-next" class="gallery-btn next not-fade" data-dir="next" data-next-related="False"
           data-fade="1">
            <img title="Следуюшая"
                 src="/web/templates/Site/gallery/imgs/space/next.png"
                 style="
                 width: 50px; height: 50px;">
        </a>

    </div>

    <!--<div id="gallery-interstitial-advert" class="interstitial"></div>-->

    <aside class="gallery-side">

        <a href="/posts/show/###id###" class="hidden-phone" id="close-gallery"
           style="width: 50px; height: 50px;float: right" data-fade="1">
            <img title="Close" src="/web/templates/Site/gallery/imgs/space/close.png"
                 style="width: 50px; height: 50px;float: right"></a>
        <a href="/posts/show/###id###" class="visible-phone" id="gallery-close-mobile" data-fade="1">Закрыть</a>

        <div class="gallery-meta" data-priority="0">
            <h1 class="title">MoonStore</h1>

            <div class="gallery-controls-container hidden-phone">
                <div class="gallery-controls">
                    <a href="#" class="gallery-btn prev previous-img" data-dir="prev" data-fade="1">
                        <img title="Предыдущая"
                             src="/web/templates/Site/gallery/imgs/space/next.png"
                             style="
                             width: 50px; height: 50px;
                             -webkit-transform: rotate(180deg);
                             -moz-transform: rotate(180deg);
                             -ms-transform: rotate(180deg);
                             -o-transform: rotate(180deg);
                             transform: rotate(180deg);"></a>
                    <a href="#" class="gallery-btn next next-img" data-dir="next" data-next-related="False"
                       data-fade="1">
                        <img title="Следуюшая"
                             src="/web/templates/Site/gallery/imgs/space/next.png"
                             style="
                             width: 50px; height: 50px;">
                    </a>
                </div>
                <div class="gallery-count">
                    <div id="current-slide">01</div>
                    /
                    <div id="total-slides">###count###</div>
                </div>
            </div>
        </div>
        <div class="gallery-meta gallery-thumb-container" data-meta-title="thumbs" data-priority="2">
            <ul id="gallery-thumbnails" class="gallery-pager clearfix">

                <li class="thumbs-page">
                    <ul class="gallery-thumbs clearfix">
                        <!-- OPEN 1 -->
                        ###gallery_images###
                        <!-- CLOSE -->
                    </ul>
                </li>

            </ul>
            <div class="gallery-pager-nav	cycle-pager">
                <!-- repeat this for every page -->
            </div>

        </div>


    </aside>

</div>


<script type="text/javascript">
    var maxid = $(".thumbnail-link").last().find('img').attr('id');

    $(".thumbnail-link").click(function () {
        var id = $(".img").attr('id');
        $(".img").attr('src', $('#' + id++).attr('src'));
        $(".img").attr('id', id);

        $(".img").attr('src', $(this).data('path'));
        $("#current-slide").text(id + 1);

    });

    $(".next").click(function () {
        var id = $(".img").attr('id');
        var check = id + 1;
        if (check <= maxid) {
            console.log(id);
            id++;
        } else {
            id = 0;
            console.log(maxid);
        }

        $(".img").attr('src', $('#' + id).attr('src'));
        $(".img").attr('id', id);
        $("#current-slide").text(id + 1);
    });
    $(".prev").click(function () {
        var id = $(".img").attr('id');
        var check = id - 1;
        if (check >= 0) {
            console.log(id);
            id--;
        } else {
            id = maxid;
        }

        $(".img").attr('src', $('#' + id).attr('src'));
        $(".img").attr('id', id);
        $("#current-slide").text(id + 1);
    });
    $(".img").click(function () {
        var id = $(".img").attr('id');
        var check = id++;
        if (check <= maxid) {
            console.log(id);
//            id++;
        } else {
            id = 0;
            console.log(maxid);
        }

        $(".img").attr('src', $('#' + id).attr('src'));
        $(".img").attr('id', id);
        $("#current-slide").text(id + 1);
    });
</script>