.dropdown-class-class dd, .dropdown-class dt {
    margin:0px;
    padding:0px;
}
.dropdown-class-class ul {
    margin: -1px 0 0 0;
}
.dropdown-class-class dd {
    position:relative;
}
.dropdown-class a, 
.dropdown-class a:visited {
    color:#fff;
    text-decoration:none;
    outline:none;
    font-size: 12px;
}
.dropdown-class dt a {
    background-color:#4F6877;
    display:block;
    padding: 8px 20px 5px 10px;
    min-height: 25px;
    line-height: 24px;
    overflow: hidden;
    border:0;
    width:272px;
}
.dropdown-class dt a span, .multiSel span {
    cursor:pointer;
    display:inline-block;
    padding: 0 3px 2px 0;
}
.dropdown-class dd ul {
    background-color: #4F6877;
    border:0;
    color:#fff;
    display:none;
    left:0px;
    padding: 2px 15px 2px 5px;
    /*position:absolute;*/
    top:2px;
    width:280px;
    list-style:none;
    height: 100px;
    overflow: auto;
}
.dropdown-class span.value {
    display:none;
}
.dropdown-class dd ul li a {
    /*padding:5px;*/
    display:block;
}
.dropdown-class dd ul li a:hover {
    background-color:#fff;
}

