

.forkit-curtain {
    text-align: center;
    background: rgba( 0, 0, 0, 0.93 );
    padding-top: 10%;
}
.forkit-curtain  .close-button {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 20px;
    top: 20px;
    cursor: pointer;

    background: url(../img/close.png);
}
 @media (max-width: 768px) {
     .forkit-curtain{
         visibility: hidden;
     }
     .forkit{
         visibility: hidden;

     }
 }
 @media (max-height: 370px) {
     .forkit-curtain{
         visibility: hidden;
     }
     .forkit{
         visibility: hidden;

     }
 }