/* ----------------------------------------------------------- */
/* == tingle v0.1.1 */
/* ----------------------------------------------------------- */

.tingle-modal,
.tingle-modal__wrapper {
	box-sizing: border-box;
}

.tingle-modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	visibility: hidden;
	overflow-y: scroll;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .8);
	opacity: 0;
	cursor: url("../img/cursor.png"), pointer;
        transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity .2s ease;
	transform: scale(.6);
}

.tingle-modal__close {
	position: fixed;
	top: 3%;
	right: 3%;
	z-index: 1000;
	padding: 0;
	width: 40px;
	height: 40px;
	border: none;
	border-radius: 50%;
	background: transparent;
	color: #34495e;
	font-size: 40px;
	line-height: normal;
	cursor: pointer;
}

.tingle-modal__content {
	position: absolute;
	top: 5vh;
	right: 0;
	left: 0;
	margin: 0 auto;
	padding: 4em;
	max-width: 50%;
	background: #fff;
	opacity: 1;
	cursor: auto;
}

/* state
-------------------------------------------------------------- */

.tingle-modal--visible {
	visibility: visible;
	opacity: 1;
	transform: scale(1);
}

.tingle-modal__content--center {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
